@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto&display=swap');

/* Global styles */
:root {
  --warm-dark: #e76f51;
  --warm-light: #f4a261;
  --cool-light: #2a9d8f;
  --cool-dark: #264653;
  --cool-light-text: #002627;
  --cool-light-header: #e0ffff;
  --cool-dark-text: #add8e6;
  --cool-dark-header: #f39c12;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.6;
}

/*Semantic styles*/
header {
  height: 30%;
  width: 100%;
  color: var(--cool-dark);
  display: flex;
  flex-direction: row;
  padding: 1em;
  align-items: center;
}

img {
  max-width: 30%;
}

body {
  background-color: var(--warm-light);
  height: 100%;
}

footer {
  background-color: var(--warm-dark);
  width: 100%;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/*Font styles*/
h1, h2 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
}
